<div class="container" ng-controller="createCtrl" style="height:100%;">
    <div class="row">
        <article>
            <form name="frmEntry" class="student-form-container" novalidate>
                <header class="student-form-header">
                    Create Student
                </header>
                <div class="container">
                    <div class="student-form-content">
                        <div class="col col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <section class="col col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    Student Name
                                </section>
                                <section class="col col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <label class="input">
                                        <input type="text" class="student-input" ng-class="{'state-success': !frmEntry.studentName.$error.required && frmEntry.studentName.$dirty, 'state-error': frmEntry.studentName.$error.required && frmEntry.studentName.$dirty}" ng-required="true" name="studentName" ng-model="studentName" />
                                    </label>
                                    <em class="invalid" ng-show="frmEntry.studentName.$error.required && frmEntry.studentName.$dirty ">Student name is required</em>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    Email
                                </section>
                                <section class="col col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <label class="input">
                                        <input type="email" class="student-input" ng-class="{'state-success': frmEntry.studentEmail.$valid && frmEntry.studentEmail.$dirty, 'state-error': frmEntry.studentEmail.$invalid && frmEntry.studentEmail.$dirty}" ng-required="true" name="studentEmail" ng-model="studentEmail" />

                                    </label>
                                    <em class="invalid" ng-show="frmEntry.studentEmail.$invalid && frmEntry.studentEmail.$dirty ">Enter a valid email</em>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    Age
                                </section>
                                <section class="col col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                    <label class="input">
                                        <input type="number" min="5" max="50" class="student-input" ng-class="{'state-success': !frmEntry.studentAge.$error.required && frmEntry.studentAge.$valid, 'state-error': (frmEntry.studentAge.$error.required || frmEntry.studentAge.$invalid)&&  frmEntry.studentAge.$dirty}" ng-required="true" name="studentAge" ng-model="studentAge" />

                                    </label>
                                    <em class="invalid" ng-show="frmEntry.studentAge.$invalid && frmEntry.studentAge.$dirty">Enter a valid Age</em>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    Contact Number
                                </section>
                                <section class="col col-lg-6 col-md-9 col-sm-12 col-xs-12">
                                    <label class="input">
                                        <input type="tel" maxlength="10" class="student-input" ng-class="{'state-success': !frmEntry.studentContact.$error.required && frmEntry.studentContact.$valid &&  frmEntry.studentContact.$dirty, 'state-error': (frmEntry.studentContact.$error.required || frmEntry.studentContact.$invalid) &&  frmEntry.studentContact.$dirty}" ng-required="true" name="studentContact" ng-model="studentContact" />

                                    </label>
                                    <em class="invalid" ng-show="frmEntry.studentContact.$invalid && frmEntry.studentContact.$dirty">Enter a valid contact number</em>
                                </section>
                            </div>
                        </div>
                        <div class="col col-lg-3 col-md-12 col-sm-12 col-xs-12" style="z-index:0;">
                            <div class="row">
                                <section class="col-lg-6 col-md-3 col-sm-12 col-xs-12">
                                    <label>
                                        <img class="img-thumbnail student-image" src="http://misbbocconiblog.com/wp-content/uploads/2013/02/passport-size.jpg" />
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <div upload-file class="drop-area">
                                    drop  photo here to change the  picture .. !!!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="student-form-footer">
                    <button class="btn btn-primary" ng-click="Create()">
                        Create
                    </button>
                </footer>
            </form>
        </article>
    </div>
</div>



