<style>
    .Valid {
        width: 390px;
        border-color: grey;
        border-style: solid;
        border-width: 2px;
        border-radius: 8px;
        padding: 10px;
    }

    .Invalid {
        width: 390px;
        border-color: red;
        border-style: solid;
        border-width: 2px;
        border-radius: 8px;
        padding: 10px;
    }
</style>
<a>Welcome {{user}}</a>
<div id="pop-over-content" style="display:none;">
    <div class="row">
        <div class="col-lg-6">
            <button class="btn-primary" ng-click="logout()">logout</button>
        </div>
    </div>
</div>
