.invalid {
    color: red;
    float: left;
    font-weight: lighter;
    position: relative;
    vertical-align: top;
}

.input {
    width: 90%;
    color: black;
}

.student-input {
    outline: none;
    border-color: #9ecaed;
    width: 90%;
}

    .student-input:focus {
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 2px #9ecaed;
        width: 90%;
    }

.state-error {
    background-color: #F5A9A9;
    box-shadow: 0 0 3px red;
}

/*.modal-backdrop {
   background-color: red;
}*/

.modal-backdrop {
    opacity: 0.5 !important;
}

.state-success {
    background-color: #D0F5A9;
    box-shadow: 0 0 2px #58FA82;
}

.student-form-header {
    vertical-align: middle;
    background-color: #F0F8FF;
    font-weight: 800;
    font-size: large;
    vertical-align: middle;
    height: 50px;
}

.student-form-container {
    border: #81DAF5 1px solid;
    padding: 10px;
}

.student-view {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

@media screen and (min-width:767px) {
    .student-view-container:focus {
        box-shadow: 0 0 2px #58FA82;
        padding: 0px;
    }
}

.student-common-header {
    background-color: #f1f1f1;
    border-bottom: 1px solid #666;
    border-color: #e5e5e5;
}

.student-form-content {
    padding: 10px;
}

.student-form-footer {
    background-color: #F0F8FF;
}

.drop-area {
    width: 150px;
    height: 4em;
    border: 2px solid #DDD;
    border-radius: 8px;
    background-color: #DDD;
    color: black;
    font-size: 12px;
    font-family: Arial, sans-serif;
    cursor: default;
}

.drop-area-waiting {
    width: 150px;
    height: 4em;
    border: 2px solid #DDD;
    border-radius: 8px;
    background-color: #DDD;
    color: black;
    font-size: 12px;
    font-family: Arial, sans-serif;
    cursor: default;
    box-shadow: 0 0 10px #58FA82;
}

/*Large and medium devices*/

@media screen and (min-width:480px) and (max-width:2500px) {
    .student-image-view {
        height: 100px;
        width: 100px;
        vertical-align: middle;
        background-repeat: no-repeat;
    }
}

/*small and xtra small devices*/

@media screen and (max-width:479px) {
    .student-image-view {
        height: 100px;
        width: 400px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

@media screen and (min-width:480px) and (max-width:769px) {

    .detail {
        padding-right: 15px;
        padding-left: 15px;
        margin-top: -100px;
        margin-left: 100px;
        position: relative;
        white-space: nowrap;
    }
}


.stud-icon {
    height: 20px;
    width: 20px;
}


.axis path, .axis line {
    fill: none;
    stroke: #81DAF5;
    shape-rendering: crispEdges;
}

.header-menu {
    transition: all .2s ease-in-out;
}

    .header-menu:hover {
        transform: scale(1.2);
    }


#topMenu {
    background: #F0F8FF;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    height: 15%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    z-index: 10;
    transform: translate(-2%,-90%);
    transition: all 0.5s ease-in-out;
}

    #topMenu li a:hover {
        color: black;
        opacity: 1;
        text-decoration: underline;
        font-weight: bold;
        cursor: pointer;
    }

    #topMenu.active {
        transform: translate(-2%,1%);
    }



#leftMenu {
    background: #F0F8FF;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    width: 19%;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    z-index: 10;
    -webkit-transform: translate(-120%,1%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transform: translate(-110%,1%);
    -moz-transition: all 0.5s ease-in-out;
}

    #leftMenu li a:hover {
        color: black;
        opacity: 1;
        text-decoration: underline;
        font-weight: bold;
        cursor: pointer;
    }

    #leftMenu.active {
        -moz-transform: translate(-29%,1%);
        -webkit-transform: translate(-33%,1%);
    }
